$game-lateral-border-size: 16px;
$game-top-bottom-size: 60px;
$game-width: 360px + $game-lateral-border-size;
$game-height: 640px + $game-top-bottom-size;

$color-brown: #916848;
$color-beige: #f5b390;
$color-purple: #342739;
$color-cyan: #3b8d89;
$color-green: #bed678;
$color-light-blue: #a6d9ee;
$color-blue: #0d74b6;

.background1 {
  background: radial-gradient(circle, $color-green 0%, $color-cyan 100%);
}

.background2 {
  background: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0) 25%,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 75%,
      rgba(255, 255, 255, 0.2) 75%
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 25%,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 75%,
      rgba(255, 255, 255, 0.2) 75%
    ),
    $color-light-blue;
  background-size: 20em 20em;
}

.background3 {
  background: repeating-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 5px,
      rgba(10, 35, 45, 0.15) 5px,
      rgba(10, 35, 45, 0.15) 10px,
      rgba(211, 119, 111, 0) 10px,
      rgba(211, 119, 111, 0) 35px,
      rgba(111, 211, 151, 0.15) 35px,
      rgba(168, 211, 111, 0.15) 40px,
      rgba(10, 35, 45, 0.15) 40px,
      rgba(10, 35, 45, 0.15) 50px,
      rgba(10, 35, 45, 0) 50px,
      rgba(10, 35, 45, 0) 60px,
      rgba(111, 211, 211, 0.15) 60px,
      rgba(111, 137, 211, 0.15) 70px,
      rgba(247, 242, 84, 0.15) 70px,
      rgba(84, 247, 209, 0.15) 80px,
      rgba(247, 179, 84, 0) 80px,
      rgba(247, 179, 84, 0) 90px,
      rgba(135, 111, 211, 0.15) 90px,
      rgba(111, 165, 211, 0.15) 110px,
      rgba(211, 119, 111, 0) 110px,
      rgba(211, 119, 111, 0) 120px,
      rgba(10, 45, 35, 0.15) 120px,
      rgba(19, 10, 45, 0.15) 140px
    ),
    repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0) 5px,
      rgba(10, 35, 45, 0.15) 5px,
      rgba(10, 35, 45, 0.15) 10px,
      rgba(211, 119, 111, 0) 10px,
      rgba(211, 119, 111, 0) 35px,
      rgba(211, 111, 185, 0.15) 35px,
      rgba(111, 174, 211, 0.15) 40px,
      rgba(10, 22, 45, 0.15) 40px,
      rgba(10, 18, 45, 0.15) 50px,
      rgba(10, 35, 45, 0) 50px,
      rgba(10, 35, 45, 0) 60px,
      rgba(111, 160, 211, 0.15) 60px,
      rgba(126, 111, 211, 0.15) 70px,
      rgba(247, 212, 84, 0.15) 70px,
      rgba(247, 179, 84, 0.15) 80px,
      rgba(247, 179, 84, 0) 80px,
      rgba(247, 179, 84, 0) 90px,
      rgba(111, 211, 197, 0.15) 90px,
      rgba(111, 211, 179, 0.15) 110px,
      rgba(211, 119, 111, 0) 110px,
      rgba(211, 119, 111, 0) 140px,
      rgba(10, 45, 32, 0.15) 140px,
      rgba(17, 10, 45, 0.15) 160px
    ),
    #a6eed0;
}

//noinspection CssReplaceWithShorthandSafely
.background4 {
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.0980392) 0
    ),
    linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.1) 25%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0.1) 75%,
      rgba(0, 0, 0, 0.1) 0
    ),
    #a6e7ee;
  background-position: 0 0, 40px 40px;
  background-size: 80px 80px;
}

.speaker {
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  background: currentColor;
  background-clip: content-box;
  width: 1em;
  height: 1em;
  border: 0.333em solid transparent;
  border-right-color: currentColor;
  position: relative;
  left: -0.337em;

  &.on:before,
  &.on:after {
    content: "";
    background: currentColor;
    width: 0.1em;
    position: absolute;
  }

  &.on:before {
    height: 0.333em;
    right: -0.533em;
  }

  &.on:after {
    height: 0.667em;
    right: -0.733em;
    top: -50%;
  }

  &.off:before,
  &.off:after {
    content: "";
    background: currentColor;
    width: 0.1em;
    position: absolute;
    height: 1.2em;
    margin-top: -0.333em;
    top: -0.1em;
    left: 0.1em;
    transform: translateX(0.333em) rotate(-45deg);
  }

  &.off:before {
    background: #04233d;
    left: 0.2em;
  }
}

.css-clock {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  display: block;

  &::before {
    content: "";
    height: 9px;
    width: 1px;
    background-color: #636363;
    display: block;
    position: absolute;
    left: 9px;
    top: 3px;
    opacity: 0.6;
  }

  &::after {
    content: "";
    height: 6px;
    width: 1px;
    background-color: #636363;
    display: block;
    position: absolute;
    top: 7px;
    left: 11px;
    transform: rotate(45deg);
    opacity: 0.6;
  }
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

a,
button,
.button,
.speaker {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAolBMVEUAAABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB77zEsqgBu7RFf3QNU2QBGuwAopgAfngCH9UeF+zh/9DNs6g9k4QZf3gQ7sQCK/j6H/DxKwgAinwCV/1Z49hpQvhRp5wto5wti5QIipACK+k2R/0By8BRZ3ABRyAA/tQBDtAAbnwC9d09BAAAAFHRSTlMABTMCFn0QHgqbgGZbLiCOjHRDHCnm7AYAAACqSURBVDjL7dLJEoIwDIBhFltkdaOtUBWUHcHd938149k2d2f4r/kOmUmMB6WmbSBVVThDRXV9WqhIiv0JFUl5QAWAGBdJEeMCAIjypRVds4MuTacT47D9dh/eGsG4OEIiz0a1ACDyPuP81jIQvyDNRH6WUtZ1ynxHCWDuLjxCyCpQAt5L11tbUBhRBWBt7RJrQ+eQqVwyXRL0WFHg4+emjoM/jAnZxtQ/9AFcVA7F82ZJgQAAAABJRU5ErkJggg=="),
    auto;
}

.header {
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.3);
  width: 100%;
  color: white;
  padding: 14px 16px;
  text-align: center;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.scene {
  height: 100%;

  &.inactive {
    display: none;
  }
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAA7VBMVEUAAABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEDe9fDC4/zX8fG11+6y0e15mbXq///u//652vSu1PKrwr6etrRzj6294v7m/P3C4Pvh9/e92vfk+va30vOw1PK12O+nvr19nrikurZ4krVvj6tshqr////0///O7v/G5P/D2/7h/Py+1/zl/vvs//q+3Pqz2ffa9fba8fG01PDC1cy9z8i6zMS0yMR8n76Do7yhvLusv7qCo7l2jbSnvbJ6lrJxiK5viaoSVG2nAAAAF3RSTlMABDIHFn8QHguae2ZbNSwgnI6MdEMcCRKrcsoAAADDSURBVDjL7dLHFoJADEBRGGXA3hUEKaJURbH33tv/f46wH7L3HF+WubuE2mMcoymgwzEbB8VpeEOg0EZyDxSabDdA0W3UzEUzFJFA2JptQFzbgiBsZtFCk2tB9vIZJc4tV3VVdd2SIsSdr9c7wSi8RxYeL4qKZRj8ZHxBcQKQVuJO8X1d1yUpxRLAyxKdT77AMEyylCaB/twZJJhyBiGUzWESmAb7TAVzHFeN0QTweBeT4LFy6RR8bsyy8MPQYdS/X+gLp8ATaP9llugAAAAASUVORK5CYII="),
    auto;
}

@media screen and (min-width: $game-width) and (min-height: $game-height) {
  body {
    background-color: ghostwhite;
  }

  .container {
    width: $game-width;
    height: $game-height;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .container {
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }

  /* The horizontal line on the top of the device */
  .container:before {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }

  /* The circle on the bottom of the device */
  .container:after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }
}

div[data-scene="Menu"] {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;

  .perspective {
    position: relative;
    width: 210px;
    height: 140px;
    margin: 0 auto;
    perspective: 1000px;

    .menu-carousel {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform 1s;

      .menu-option {
        position: absolute;
        width: 190px;
        height: 120px;
        left: 10px;
        top: 10px;
        border-radius: 0.2em;
        border: 2px solid black;
        line-height: 116px;
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-align: center;

        &:hover {
          div {
            transform: rotateY(0deg);
          }
        }

        div {
          transform: rotateY(180deg);
          transition: 0.5s;
        }
      }

      .menu-option:nth-child(1) {
        background: rgba(82, 156, 79, 0.95);
        transform: rotateY(0deg) translateZ(60px);
      }

      .menu-option:nth-child(2) {
        background: rgba(33, 175, 154, 0.95);
        transform: rotateY(120deg) translateZ(60px);
      }

      .menu-option:nth-child(3) {
        background: rgba(228, 152, 0, 0.95);
        transform: rotateY(240deg) translateZ(60px);
      }
    }
  }

  .previous,
  .next {
    display: inline-block;
    padding: 6px 17px;
    margin: 0 10px;
    background-color: #ffffff5c;
    color: $color-blue;
    border-radius: 50%;
    font-size: 25px;

    &:hover {
      background-color: $color-light-blue;
    }
  }
}

div[data-scene="GamePlay"] {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  text-align: center;
  margin: 0 10px;
}

.answer {
  display: inline-block;
  box-sizing: content-box;
  margin: 0.5em;
  padding: 0 1.5em;
  border: 1px solid rgba(211, 211, 211, 1);
  border-radius: 0.2em;
  font: normal normal bold 1em/2em Arial, Helvetica, sans-serif;
  color: rgba(114, 114, 114, 1);
  text-overflow: clip;
  white-space: nowrap;
  background: rgba(234, 234, 234, 1);
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8), 0 1px 0 0 rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;

  &:hover {
    border: 1px solid rgba(178, 178, 178, 1);
    color: rgba(76, 76, 76, 1);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset,
      0 1px 0 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    position: relative;
    top: 1px;
    border: 1px solid rgba(211, 211, 211, 1);
    color: rgba(114, 114, 114, 1);
    background: rgba(247, 247, 247, 1);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.8) inset,
      0 1px 0 0 rgba(0, 0, 0, 0.3) inset;
    transition: none;
  }
}

.sentence {
  font-size: 25px;
  transform: rotateY(180deg);
  text-transform: uppercase;
  border-radius: 0.2em;
  border: 2px solid black;
  line-height: 40px;
  font-weight: bold;
  color: white;
  background: rgba(82, 156, 79, 0.9);
}

.question {
  font-size: 20px;
  border-radius: 0.2em;
  border: 2px solid black;
  line-height: 40px;
  color: white;
  background: rgba(79, 156, 150, 0.9);
}
